.control-label {
    font-size: 1.1em;
}

footer {
    clear: both;
    width: 100vw;
}

.cursor-pointer {
    cursor: pointer;
}

.whitespace-fill {
    display: block;
    height: 6vh;
    width: 100vw;
}
.btn-vote {
    padding-top:15px;
}
.panel-profile {
    height: 25vh;
}

.header-line {
    margin-top:15px;
    border-top: 1px solid black;
}
