<div ng-controller="EventsController as vm">
    <h1 class="text-center">Active events</h1>

    <div class="col-lg-offset-2 col-lg-8">
        <div ng-repeat="event in vm.activeEvents" class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{event.BirthdayGuyUsername}}'s Birthday</h3>
            </div>
            <div class="panel-body">
                <form name="registrationForm" class="form-horizontal">
                    <fieldset>
                        <div class="col-lg-10">
                            <label>Birthday Date:</label>
                            <span>{{vm.parseDate(event.BirthdayDate)}}</span>
                        </div>
                        <div class="col-lg-10">
                            <label>Creator: </label>
                            <span>{{event.CreatorUsername}}</span>
                        </div>
                        <div ng-repeat="present in vm.availablePresents" class="row text-center">
                            <a ng-click="vm.vote(present.Id, event.Id)" class="btn btn-success" style="width: 70%;">{{present.Description}}</a>
                            <div class="help-block"></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>