<div ng-controller="PastEventsController as vm">
    <h1 class="text-center">Past events statistics</h1>

    <div ng-if="vm.currentUser" class="col-lg-offset-3 col-lg-6">
        <div ng-repeat="event in vm.statistics" class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>{{event.BirthdayGuyUsername}}'s</strong> Birthday</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 text-center">
                    <label>Created by: </label>
                    <span>{{event.CreatorUsername}}</span>
                </div>
                <div class="col-lg-12 text-center">
                    <label>Birthday Date:</label>
                    <span>{{vm.parseDate(event.BirthdayDate)}}</span>
                </div>
                <div class="col-lg-12">
                    <div ng-repeat="(voteName, usernames) in event.Votes">
                        <h4><strong>{{voteName}}: {{usernames.length}} votes</strong></h4>
                        <span ng-repeat="username in usernames">/ {{username}} </span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <h4><strong>Users not voted: {{event.UsersNotVoted.length}} </strong></h4>
                    <span ng-repeat="username in event.UsersNotVoted" class="text-danger">/ {{username}} </span>
                </div>
            </div>
        </div>
    </div>
</div>